In [1]:

import pandas as pd
from sqlalchemy import create_engine

host = "localhost"
user = "Revathi"
password = "Nithisha_6"
port = 3306
database= "MAT4"
engine=create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

df=pd.read_csv("sectorwise_data.csv")

df.to_sql(name='stock_data', con=engine, if_exists='replace', index=False)
print("Data successfully stored in MySql under 'stock_data' table")

query_df = pd.read_sql("SELECT * FROM stock_data", con=engine)
print(query_df)

Data successfully stored in MySql under 'stock_data' table
         Ticker    close                 date     high      low    month  \
0      ADANIENT  2387.25  2023-10-03 05:30:00  2424.90  2372.00  2023-10
1      ADANIENT  2464.95  2023-10-04 05:30:00  2502.75  2392.25  2023-10
2      ADANIENT  2466.35  2023-10-05 05:30:00  2486.50  2446.40  2023-10
3      ADANIENT  2478.10  2023-10-06 05:30:00  2514.95  2466.05  2023-10
4      ADANIENT  2442.60  2023-10-09 05:30:00  2459.70  2411.30  2023-10
...         ...      ...                  ...      ...      ...      ...
14195     WIPRO   566.70  2024-11-14 05:30:00   574.55   564.20  2024-11
14196     WIPRO   552.85  2024-11-18 05:30:00   566.70   540.30  2024-11
14197     WIPRO   562.00  2024-11-19 05:30:00   569.80   554.70  2024-11
14198     WIPRO   557.15  2024-11-21 05:30:00   567.60   555.30  2024-11
14199     WIPRO   571.65  2024-11-22 05:30:00   573.60   557.90  2024-11

          open   volume  prev_close  daily_return         sector
0      2418.00  2019899         NaN           NaN  MISCELLANEOUS
1      2402.20  2857377     2387.25      0.032548  MISCELLANEOUS
2      2477.95  1132455     2464.95      0.000568  MISCELLANEOUS
3      2466.35  1510035     2466.35      0.004764  MISCELLANEOUS
4      2440.00  1408224     2478.10     -0.014325  MISCELLANEOUS
...        ...      ...         ...           ...            ...
14195   568.95  4891760      569.00     -0.004042       SOFTWARE
14196   566.70  7644882      566.70     -0.024440       SOFTWARE
14197   556.00  6459889      552.85      0.016551       SOFTWARE
14198   562.00  5836304      562.00     -0.008630       SOFTWARE
14199   561.95  7366616      557.15      0.026025       SOFTWARE

[14200 rows x 11 columns]